FORMAT: X-1A
HOST: https://repos.api.brightcove.com/v1

# Delivery System API v1
<p>The Delivery System APIs allow for the management and deployment of a group of files, called a repository.  These files are managed through REST APIs and through git.  These files are delivered, on every "git push", to players.brightcove.com.</p>
<p>If you haven't gone through the <a href="//docs.brightcove.com/en/video-cloud/players/guides/playertour.html">player tour</a>, it's highly suggested you start there.  You'll get security set up, learn some of the basics of the system, and then be ready to dive in further here.</p>

# Group Configurations

## Retrieving Repositories [/accounts/{accountId}/repos]

###GET

<a id="getList"></a>This will list the details for all repos in an account.

+ Parameters

    + accountId (required string `20318290001`) ... The Video Cloud account id (in older versions of Studio called the Publisher ID)

+ Headers

            Authorization: Bearer {token}
            Content-Type: application/json

+ Request

    + Body

            {}

+ Response 200

    + Body

            {
                repos: 
                [
                    { "name": "[repo name]", "public_url": "[public_url]" },
                    { "name": "[repo name]", "public_url": "[public_url]" },
                    { "name": "[repo name]", "public_url": "[public_url]" }
                ]
            }

## Retrieving and Creating a Repository [/accounts/{accountId}/repos/{repoName}]

###GET

<a id="getOne"></a>This will list the details for a single repository

+ Parameters

    + accountId (required string `20318290001`) ... The Video Cloud account id (in older versions of Studio called the Publisher ID)
    
    + repoName (required string `MyRepoName` ... The name of the repo for which to list details

+ Headers

            Authorization: Bearer {token}
            Content-Type: application/json

+ Request

    + Body

            {}

+ Response 200

    + Body

            { "name": "[repo name]", "public_url": "[public_url]" }

### PUT

+ Parameters

    + accountId (required string `20318290001`) ... The Video Cloud account id (in older versions of Studio called the Publisher ID)
    
    + repoName (required string `MyRepoName` ... The name of the repo for which to list details


+ Headers

            Authorization: Bearer {token}
            Content-Type: application/json

+ Request

    + Body

            {}
    
+ Response 200

        +The response will be 200 if the repository already existed
    
        +Body
    
            { "name": "[repo name]", "public_url": "[public_url]" }

+ Response 201

        +The response will be 201 if the repository was successfully created
    
        +Body
    
            { "name": "[repo name]", "public_url": "[public_url]" }
                    

